<svg
  class="icon  icon--{{ include.id }}"
  role="img"
  {%
  if
  include.title
  %}
  aria-label="{{ include.title }} icon"
  {%
  endif
  %}
>
  {% if include.title %}
  <title>{{ include.title }}</title>
  {% endif %}
  <use
    xlink:href="#{{ include.id }}"
    {%
    if
    include.color
    %}
    fill="{{ include.color }}"
    {%
    endif
    %}
  ></use>
</svg>
