<nav class="nav  nav--social">
  {% for link in site.social_links %} {% assign id = link[0] | downcase %}
  <a class="link" href="{{ link[1] }}" title="{{ link[0] }}">
    {% include icon.html id=id title=id %}
  </a>
  {% endfor %}
</nav>
