<small class="small  post-meta">
  {% if page.category %}<span class="label  label--category"
    ><a href="/categories#{{ page.category | downcase }}">{{
      page.category
    }}</a></span
  >&nbsp;&nbsp;&middot;&nbsp;&nbsp;{% endif %}<time
    datetime="{{ page.date | date_to_xmlschema }}"
    class="time"
    >{{ page.date | date_to_string }}</time
  >
</small>
