{% if paginator.posts %}

<section class="section  typeset">
  <ul class="list  list--posts">
    {% for page in paginator.posts %}
    <li class="item  item--post">
      <article class="article  article--post">
        <h2>
          <a href="{{ page.url }}" title="Post - {{ page.title }}">{{
            page.title
          }}</a>
        </h2>
        {% include post-meta.html %}
        {{ page.excerpt | markdownify | truncatewords: 60 }}
      </article>
    </li>
    {% endfor %}
  </ul>
  {% include post-pagination.html %}
</section>

{% else %}
<h3>Siste innlegg</h3>
<ul class="list  list--posts">
  {% for page in site.posts limit: 3 %}
  <li class="item  item--post">
    <article class="article  article--post">
      <h4>
        <a href="{{ page.url }}" title="Post - {{ page.title }}">
          {{ page.title }}</a
        >
      </h4>
      {% include post-meta.html %}
      <!-- dato -->
      {{ page.excerpt | markdownify | truncatewords: 20 }}
    </article>
  </li>
  {% endfor %}
</ul>

{% endif %}
