<nav class="nav  nav--paginator">
  {% if paginator.previous_page %}
  <a
    href="{{ paginator.previous_page_path }}"
    class="pagination  pagination--previous"
    >&larr; Previous</a
  >
  {% else %}
  <span class="pagination  pagination--previous">&larr; Previous</span>
  {% endif %}

  <span class="pagination  pagination--counter"
    >Page: {{ paginator.page }} of {{ paginator.total_pages }}</span
  >

  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" class="pagination  pagination--next"
    >Next &rarr;</a
  >
  {% else %}
  <span class="pagination  pagination--next">Next &rarr;</span>
  {% endif %}
</nav>
