<h3>Related posts</h3>
<ul class="list  list--posts">
  {% for page in site.related_posts limit: 3 %}
  <li class="item  item--post">
    <article class="article  article--post  typeset">
      <h4>
        <a href="{{ page.url }}" title="Related post - {{ page.title }}">{{
          page.title
        }}</a>
      </h4>
      {% include post-meta.html %}
      {{ page.excerpt | markdownify | truncatewords: 20 }}
    </article>
  </li>
  {% endfor %}
</ul>
