<aside class="aside  typeset">
  <!-- {% unless page.layout == "categories" or page.collection == "posts" %}
    <h3>About this site</h3>
    <p>{{ site.description }}</p>
  {% endunless %} -->

  {% unless page.layout == "categories" or page.layout == "search" or
  page.collection == "posts" or paginator.posts %} 
  {% include post-list.html %}
  {% endunless %} 
  {% if page.layout == "categories" %}
  <section class="section  section--category-index">
    <h3>Index</h3>
    {% include nav-categories.html %}
  </section>
  {% endif %} {% if page.collection == "posts" %} {% include post-related.html
  %} {% endif %} {% if page.collection == "posts" or paginator.posts %} {%
  include button.html text="Abonner på innlegg &nbsp;" icon="rss"
  link="/feed.xml" %} {% endif %} {% unless page.layout == "categories" %} {%
  include nav-social.html %} {% endunless %}
</aside>
