<footer class="footer">
  <div class="container">
    <div class="typeset">
      <small class="small"></small>
        {{ site.title }} {{ site.time | date: "%Y" }}</small
      >
    </div>
  </div>
</footer>
