<!-- <link rel="icon" type="image/png" href="{{ site.avatarurl }}?s=16" sizes="16x16">
<link rel="icon" type="image/png" href="{{ site.avatarurl }}?s=32" sizes="32x32">
<link rel="icon" type="image/png" href="{{ site.avatarurl }}?s=96" sizes="96x96"> -->

<link rel="shortcut icon" type="image/png" href="/favicon.png" />
