<header class="header">
  <div class="container">
    <!-- {% include site-logo.html %}  removed the alembic-logo up top-->

    {% include nav-header.html %}
  </div>

  {% include site-feature.html %}

  <meta charset="UTF-8" />
</header>
