---
layout: default
---

{% include site-header.html %}

<main class="main  container">
  <article class="article  article--page  content  content--full  typeset">
    <h1>{{ page.title }}</h1>

    {{ content }}
  </article>
</main>

<!-- {% include site-footer.html %} -->
