---
layout: default
---

{% include site-header.html %}

<main class="main  container">
  <article class="article  article--page  content  typeset">
    <h2>{{ page.title }}</h2>

    {{ content }}
  </article>

  {% include site-aside.html %}
</main>

<!-- {% include site-footer.html %} -->
